#header {
    height: 25rem;
    position: relative;
    background: url(./img/cover.e5a6b878.png) no-repeat 50%
}

#header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    background: rgba(66,64,64,.15)
}

#header:after {
    content: "Pixiv: 86597206";
    position: absolute;
    right: 15px;
    bottom: 0;
    z-index: 2;
    color: #cdcdcd;
    text-shadow: 1px 1px 1px #666
}

#header-content {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 2px 2px 2px #666;
    text-align: center
}

#header h1 {
    font-size: 3.57rem;
    white-space: nowrap
}

#header p {
    font-size: 1.5rem;
    color: #f0f8ff
}

p.error {
    text-align: center;
    color: #616366;
    margin-bottom: 0
}

#table {
    display: block;
    font-size: 1rem;
    border: none;
    text-align: center;
    vertical-align: middle
}

#table thead tr th {
    color: #9da2a6;
    white-space: nowrap
}

.updated {
    margin-bottom: -15px;
    margin-left: 5px
}
#cards {
    padding-top: 3.4rem;
    padding-bottom: 3.5rem
}

@media only screen and (max-width: 767px) {
    #cards .column {
        width:100%!important;
        margin: 0 auto!important
    }
}

.footer div {
    text-align: center;
}

.footer div a {
    vertical-align: middle;
    transition: color .3s ease
}

.footer div a:hover {
    color: #ff779a
}

body {
    background: url(./img/bg_parts.b38c798f.png) repeat-y 0 0,url(./img/bg.34e52f2c.png) repeat 0 0
}

div.bar {
    min-width: 0!important
}

@media only screen and (min-width: 1200px) {
    .container {
        width:1155px;
        margin: 0 auto
    }
}

@media only screen and (max-width: 1200px) {
    #app .container {
        width:auto;
        margin: 0 .8rem
    }

    #table thead tr th,#table tr.tableRow td {
        padding: .7em
    }
}

@media only screen and (max-width: 1075px) {
    .container {
        padding-top: 20px;
    }
    #statusnow {
        padding: 0;
        height: 39px;
    }
    #name {
        padding: 0;
        height: 33px;
    }
    #type {
        padding: 0;
        height: 33px;
    }
    #location {
        padding: 0;
        height: 33px;
    }
    #uptime {
        padding: 0;
        height: 33px;
    }
    #cpu {
        padding: 0;
        height: 86px;
    }
    #ram {
        padding: 0;
        height: 86px;
    }
    #hdd {
        padding: 0;
        height: 86px;
    }
    #table {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        height: 450px;
    }
    #table tbody {
        width: 50%;
        height: 100%;
    }
    #table thead {
        width: 30%;
        height: 100%;
    }
    #table tr {
        display: grid;
        justify-content: center;
        justify-items: stretch;
    }
}

@media only screen and (max-width: 992px) {
    body,html {
        font-size:13px
    }
}

@media (max-width: 768px) {
    body,html {
        font-size:12px
    }

    #servers div.progress {
        width: 40px
    }

    #cards .card div.card-header span {
        font-size: 1.55rem
    }

    #cards .card div.card-content p {
        font-size: 1.25rem;
    }

    #app #header {
        height: 20rem;
        background: url(./img/cover_mobile.e38df367.png) no-repeat 50%!important
    }
}
